body {
    background-color: white;
    background-image: url(/img/background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
}

.border-color {
    /* border: 1px solid black; */
}

.accordion-color {
    color: #2182b1;
    font-weight: 700;
}
