<div class="row" *ngIf="promo| async">
    <div class="" [ngClass]="(i==0)?'col-12 col-md-6':'col-12 col-md-6'" *ngFor="let item of promo | async; let i = index">
        <div class="premio">
            <div class="premio__titulo">
                {{item.premio.nombre }}
            </div>
            <div class="premio__contenedor">
                <span *ngFor="let seleccionado of item.seleccionados; let i = index">
                    <p class="premio__contenedor_premio" *ngIf="i == 0">
                        GANADOR:
                        {{seleccionado.msisdn }}
                    </p>
                    <p class="premio__contenedor_suplente" *ngIf="i != 0">
                        SUPLENTE
                        {{i-1}}:
                        {{seleccionado.msisdn }}
                    </p>
                </span>
            </div>
        </div>
    </div>
</div>


