body {
    background-color: white;
    background-image: url(/img/background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
}

.border-color {
    /* border: 1px solid black; */
}

.accordion-color {
    color: #c470ac;
    font-weight: 700;
}

.accordion-button:not(.collapsed) {
    color: #c470ac;
    background-color: #ffe0f6;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}