<body>
    <main class="container">
        <div class="row">
            <div class="col-12 col-md-5 hero-container">
                <div class="hero">
                    <img class="info__image" src="assets/img/hero.png" alt="">
                    <div class="info">
                        <p class="info__titulo">SEGUNDO SORTEO:
                        </p>
                        <div class="info__lugar">03 DE SEPTIEMBRE DE 2021 10:00 AM​<br>
                            NEST COWORKING,<br>
                            LAS MERCEDES.​</div>   


                            
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7 outlet">

                <router-outlet></router-outlet>

            </div>
        </div>
    </main>
    <footer class="text-center text-lg-start footermov">
        <div class="footermov__container">
            <p class="texto">SUNDDE ICGPJ-033-2021​</p>
            <img src="assets/img/logo.png" alt="maxgame">
        </div>
    </footer>
</body>
