$base-color: #3d4e6a;
html,
body,
#background {
    width: 100vw;
    min-height: 100vh;
    background: rgb(2, 47, 105);
    background: linear-gradient(
        90deg,
        rgba(96, 9, 139, 1) 0%,
        rgba(226, 5, 74, 1) 100%
    );
}

.footermov {
    background-color: white;

    width: 100%;
    height: 100px;
    @media (max-width: 768px) {
        height: 160px;
        margin-top: 32px;
    }

    @media (min-width: 768px) {
        position: absolute;
        bottom: 0;
    }
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        @media (max-width: 768px) {
            flex-direction: column;
        }

        .texto {
            color: $base-color;
            font-family: "PT Sans";
            font-size: 24px;
        }
    }
}

.info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;

    &__lugar {
        border-radius: 16px;
        background-color: white;
        padding: 16px;
        color: $base-color;
        font-family: "PT Sans", sans-serif;
        font-weight: 700;
    }

    &__titulo {
        color: white;
        font-family: "PT Sans";
        font-weight: 700;
        font-size: 32px;
        padding-right: 8px;
    }
}

.info__image {
    width: 80%;
    margin-bottom: 16px;
}

.hero-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.outlet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &__title {
        color: white;
        font-family: "PT Sans";
        font-size: 24px;
        padding-right: 8px;
        margin-top: 64px;
        text-align: center;
        margin-bottom: 16px;
    }
}
