$base-color: #3d4e6a;

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(10,10,10,0.3);
}

.ajax-loader {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.premio {
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 16px;

    &__titulo {
        color: $base-color;
        font-family: "PT Sans", sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
    }

    &__contenedor {
        &_premio {
            color: $base-color;
            font-family: "PT Sans", sans-serif;
            font-weight: 700;
            text-align: center;
            font-size: 18px;
            margin-bottom: 0px;
        }
        &_suplente {
            color: $base-color;
            font-family: "PT Sans", sans-serif;
            font-weight: 700;
            text-align: center;
            font-size: 14px;
            margin-bottom: 0px;
        }
    }
}

.acciones {
    display: flex;
    justify-content: space-evenly;

    &_generar {
        color: #fff;
        background-color: #ca6633;
        border-color: #ca6633;
    }

    &_guardar {
        color: #fff;
        background-color: #389542;
        border-color: #389542;
    }
}
